<!-- “SJSU CMPE 226 Spring 2019 TEAM2” -->
<!DOCTYPE html>
<html lang="en-US">
<head>
    <% include head %>
   
    
     <% include css/customer_format %>
    
</head>

<body>
<header>
        <% include customerheader %>
</header>
<% if (items_present=='Y' ) { %>
    
    <form action="/updatedietprogress">
        <input type="submit" class = "single_button"  value="Update Diet Progress" />
    </form>

    <div class="heading_style">
            <h1> Current Diet Progress</h1> 
    </div>

    <div class="view_diet_table">
           
            <div id="view_table_tableid">
                <table>
                    <tr>   
                            <th> &nbsp;&nbsp; Day &nbsp;&nbsp;</th> 
                            <th> &nbsp;&nbsp; Breakfast &nbsp;&nbsp;</th> 
                            <th> &nbsp;&nbsp; Lunch &nbsp;&nbsp;</th> 
                            <th> &nbsp;&nbsp; Dinner &nbsp;&nbsp;</th>
                            <th> &nbsp;&nbsp; Additonal Intake &nbsp;&nbsp;</th> 
                        </tr>							
                       
                           <% for(var i=0; i < query_results.length; i++) { %>
                           <tr>
                               <td>&nbsp;&nbsp; <%=  query_results[i].day %>&nbsp;&nbsp;</td>
                               <td>&nbsp;&nbsp; <%=  query_results[i].breakfast %> &nbsp;&nbsp;</td>
                               <td>&nbsp;&nbsp; <%=  query_results[i].lunch %>&nbsp;&nbsp;</td>
                               <td>&nbsp;&nbsp; <%=  query_results[i].dinner %>&nbsp;&nbsp;</td>
                               <td>&nbsp;&nbsp; <%=  query_results[i].additional_intake %> &nbsp;&nbsp;</td>
                        </tr>
                        <% } %>  
                                                
            </div>
        </div>
    
       
    
    <% } %>
    <% if (items_present=='N' ) { %>
        <div class="information_message">
                <h3>  Sorry....You do not have any current diet progress. </h3>  
        </div>
    <% } %>
    
                
    </body>
    </html>
